*{
    margin: 0;
    padding:0;
    font-family: sans-serif;
    color: white;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(251, 247, 247);
    background-image: url(/Main/images/yEpO1X.gif);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
}

/*Scroll behaviour*/
html{
    scroll-behavior: smooth;
}

/*Navbar content*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    box-shadow: 5px 5px 10px white;
    margin-bottom: 35px;
}

.navbar .leftContent{
    text-transform: uppercase;
    margin-left: 10px;
    letter-spacing: 5px;
    font-size: larger;
    text-shadow: 2px 2px 5px grey;
    font-weight: bold;
}

.navbar .rightContent ul{
    list-style: none;
}

.navbar .rightContent ul li{
    display: inline-block;
    margin-right: 20px;
}

.navbar .rightContent ul li a{
    text-decoration: none;
    transition: 0.5s;
}

.navbar .rightContent ul li a:hover{
    font-size: larger;
    padding: 5px 10px;
    box-shadow: 2px 2px 10px white,
                -2px -2px 10px white;
    border-radius: 10px ;
}

.navbar .rightContent ul li .menu{
    color: white;
    cursor: pointer;
    display: none;
}



/*Project description*/
.projects h5{
    font-weight: normal;
}

.projects a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.projects div{
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 2px 2px 5px grey,
                -2px -2px 5px grey;
    text-align: center;
    background-image: transparent;
    backdrop-filter: blur(10px);
}

.projects p{
    margin: 10px 350px;
    text-transform: capitalize;
    text-align: center;
    line-height: 25px;
}

/*Mobile Navbar Design*/
.mobileNavbar{
    background-color: transparent;
    backdrop-filter: blur(15px);
    width: 35%;
    border-radius: 10px;
    padding: 10px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    display: none;
}

.mobileNavbar .mobileLeftContent{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 25px;
    text-shadow: 2px 2px 5px white;
}

.mobileNavbar .close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: large;
    cursor: pointer;
}

.mobileNavbar .mobileLinks ul{
    list-style: none;
    text-align: center;
}

.mobileNavbar .mobileLinks ul li:first-child{
    margin-top: 50px;
}

.mobileNavbar .mobileLinks ul li:last-child:hover{
    box-shadow: none;
}

.mobileNavbar .mobileLinks ul li{
    margin-top: 20px;
    font-size: larger;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 1px 1px 5px white;
    padding: 10px;
    transition: 0.5s;
}

.mobileNavbar .mobileLinks ul li:hover{
    box-shadow: 2px 2px 5px white;
    letter-spacing:3px;
    font-size: 22px;
}

.mobileNavbar .mobileLinks ul li a{
    text-decoration: none;
}

/*Footer design*/
.footer{
    background-color: grey;
    padding: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-align: center;
    box-shadow: -1px -5px 5px black;
}

@media(max-width:900px){
    .projects p{
        margin: 10px 250px;
        text-align: justify;
    }
}

@media(max-width:800px){
    .projects p{
        margin: 10px 100px;
    }

    .navbar .rightContent ul li a{
        display: none;
    }

    .navbar .rightContent ul li .menu{
        display: block;
    }
}

@media(max-width:500px){
    .projects p{
        margin: 10px;
        text-align: justify;
    }
}

@media(max-width:330px){
    .navbar .rightContent ul li .menu{
        position: absolute;
        right: 10px;
        top:20px;
    }
}
